{
    servers {
        trusted_proxies cloudflare {
            interval 12h
        }
        trusted_proxies_strict
    }

	email {{ panel_certbot_email }}
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}

	log default {
		output file /logs/access.json {
			roll_size 50mb
			roll_keep 10
			roll_keep_for 336h
		}
		format json
	}

	log caddy_errors {
		output file /logs/error.json {
			roll_size 50mb
			roll_keep 10
			roll_keep_for 336h
		}
		format json
	}

	metrics {
		per_host
	}
	admin 10.9.1.2:2019 {
		origins 127.0.0.1:2019 localhost:2019 10.9.1.2:2019
	}
}

*.{{ panel_base_fqdn }}, {{ panel_base_fqdn }} {
	respond 404
}

{{ panel_pterodactyl_domain | regex_replace('^https?://', '') }} {
	reverse_proxy panel:80 {
		header_up X-Real-IP {http.request.client_ip}
		header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
		header_up X-Forwarded-Proto {http.request.scheme}
	}
}
