terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
ansible/.ansible
ansible/.venv
ansible/.vscode
ansible/group_vars/all.yml
ansible/inventory/hosts.yml
.ansible/.lock
.vscode/settings.json
