services:
  mysql:
    image: mariadb:{{ db_mariadb_version }}
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "{{ db_mysql_root_password }}"
      MYSQL_DATABASE: "{{ db_mysql_database }}"
      MYSQL_USER: "{{ db_mysql_user }}"
      MYSQL_PASSWORD: "{{ db_mysql_password }}"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - pterodactyl_databases

  redis:
    image: redis:{{ db_redis_version }}
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "{{ db_redis_password }}"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - pterodactyl_databases

volumes:
  mysql_data:
  redis_data:

networks:
  pterodactyl_databases:
    name: pterodactyl_databases
